<!DOCTYPE html>
<html>
  <head>
    <title>T5 ParaPhrasing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      .container {
        max-width: 1000px;
      }
      
      .highlightRed {
        background-color: #00FFFF; 
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="row-sm-5 row-sm-offset-1">
          <h4>Enter a paragraph to ParaPhrase</h4>
          <form method='POST' name="new_form" id="Newquestion_Form">
            <input type="text" name="question" class="form-control" id="new_form" placeholder="Enter a question" style="max-width: 300px;">
            <br>
            <button type="submit" class="btn btn-default NewParaPhrase">ParaPhrase</button>
          </form>
          <br>
      </div>


      <div class="row-sm-5 row-sm-offset-1 get_paraphrases">
      </div>

      <div class="row-sm-5 row-sm-offset-1 result get_paraphrases_pytorchlight" hidden>
      </div>

      <ul class="pager">
        <li><a href="#" class="result">Previous</a></li>
        <li><a href="#" class="result1">Load More..</a></li>
      </ul>

    </div>

  <script>
    let question = $('#new_form').val();
    var count = 1

    $(document).on("click", "#Newquestion_Form .NewParaPhrase", function (postData){
      $(".get_paraphrases").empty();
      $(".get_paraphrases_pytorchlight").empty();
      $.ajax({
        data: {
            question: $('#new_form').val(),
        },
        type: 'POST',
        url: '/' ,
        success: function(response) {
          let question = $('#new_form').val();
          for (const [key, value] of Object.entries(response)) {
            if (key == 'result'){
              str = `<h4>Paragraph = ${ value[1] }</h4>`;
              $(".get_paraphrases").append(str);
              for (i of value[0]){
                var div1TextSplitted = i.split(" ");
                console.log(div1TextSplitted.length);
                var div2TextSplitted = value[1].split(" ");
                console.log(div2TextSplitted.length);

                var wordNumber1 = 0;
                var wordNumber2 = 0;

                var newDiv1Text = "";
                var newDiv2Text = "";

                while(true){
                  if(div1TextSplitted[wordNumber1] !== div2TextSplitted[wordNumber2]){
                    newDiv1Text += "<span class='highlightRed'>" + div1TextSplitted[wordNumber1] + "</span> ";
                    wordNumber2++;
                    wordNumber1++;
                  }
                  else{
                    newDiv1Text += div1TextSplitted[wordNumber1] + " ";
                    wordNumber1++;
                    wordNumber2++;
                  }
                  
                  if(div1TextSplitted[wordNumber1 + 1] === undefined || div2TextSplitted[wordNumber2 + 1] === undefined){
                    break;
                  }
                }

                var response = "";

                response += "<h4>Paragraph - " + count + "=" + newDiv1Text + "</h4>"

                $(".get_paraphrases").append(response);

                count += 1;
              }
            } else {
              for (i of value[0]){
                var div1TextSplitted = i.split(" ");
                var div2TextSplitted = value[1].split(" ");

                var wordNumber1 = 0;
                var wordNumber2 = 0;

                var newDiv1Text = "";
                var newDiv2Text = "";

                while(true){
                  if(div1TextSplitted[wordNumber1] !== div2TextSplitted[wordNumber2]){
                    newDiv1Text += "<span class='highlightRed'>" + div1TextSplitted[wordNumber1] + "</span> ";
                    wordNumber2++;
                    wordNumber1++;
                  }
                  else{
                    newDiv1Text += div1TextSplitted[wordNumber1] + " ";
                    wordNumber1++;
                    wordNumber2++;
                  }
                  
                  if(div1TextSplitted[wordNumber1 + 1] === undefined || div2TextSplitted[wordNumber2 + 1] === undefined){
                    break;
                  }
                }

                var response = "";

                response += "<h4>Paragraph - " + count + "=" + newDiv1Text + "</h4>"

                $(".get_paraphrases_pytorchlight").append(response);

                count += 1;

              }
            }
          }
        }
      });
      postData.preventDefault();
    });

    $(document).on("click", ".pager .result1", function (){
      $(".get_paraphrases_pytorchlight").show();
    });

    $(document).on("click", ".pager .result", function (){
      $(".get_paraphrases").show();
      $(".get_paraphrases_pytorchlight").hide();
    });

  </script>

  </body>
</html>